@import './variables';

.MuiButtonBase-root {
    text-transform: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.MuiList-root {
    padding: 0 !important;
}